<%= form_for @photo, :url => { :action => "create" },:html => {:id=>"uploadPhotoForm",:multipart => true,:onSubmit => "return validate();"} do |f| %>

<!-- Error handling -->


<%= f.error_messages %>

<fieldset>
  <legend>
     <input type="hidden" id="latitude" name="photo[latitude]"/>
    <input type="hidden" id="longitude" name="photo[longitude]" />
      <%= f.label :description  %>
      <div class="input">
        <%= f.text_field :description,:placeholder=>"Description","data-validation"=>"required" %>
      </div>
      <%= f.label :is_it_private?  %>
      <div class="input">
        <%= f.check_box :is_private,{} %>
      </div>
      <%= f.label :Select_your_photo  %>
      <div class="input">
        <%= f.file_field :photo %>
      </div>
   

    <%= f.submit "Upload your photo",{:id =>"uploadPhoto" } %>
    <% end %>

  </legend>
</fieldset>

<script src=" <%= javascript_path('jquery.formvalidator.min.js')  %>" type="text/javascript"></script>

<script>
        function getLocation(){
            if (navigator.geolocation){
              navigator.geolocation.getCurrentPosition(locationSuccess, locationFail);
              function locationSuccess(position) {
                  $("#latitude").val(position.coords.latitude);
                  $("#longitude").val(position.coords.longitude);
              }
              function locationFail(){
                $("#latitude").val(0);
              $("#longitude").val(0);
              }
            }
            else{
              $("#latitude").val(0);
              $("#longitude").val(0);
            }
          }

  function validate(){
    if($("#uploadPhotoForm").validate() == false){
      return false;
    }
    else{
      getLocation();
      return true;
    }
  }
</script>

