<%#
  Show all public pictures
%>

<div class="hero-unit">
  <h1>Welcome to our public gallery!</h1>
  <br /><br />

    <% if !@photos.nil?  %>
      <div id ="user_gallery">
      <% @photos.each do |photo| %>
         <%= link_to image_tag( photo.photo.url(:thumb),"data-description"=>photo.description+" uploaded at latitude:"+photo.latitude.to_s+" longitude:"+photo.longitude.to_s,"data-title"=>photo.photo_file_name,"data-big"=>photo.photo.url ),photo.photo.url(:large) %>


      <%  end %>
        

      </div>
      <br />
      <div class="social" >
        <ul class="social-menu">
          <li>
              <button class="btn  input-prepend" id="photouploadix_like"  >
                
              </button>
          </li>
          <li>
            <div id="fb-like" ></div>
          </li>
        </ul>
        
      </div>

    <% else %>
    <br /><br />
        <%= "No pictures are available at this time." %>
    <% end %>


  

  <br />
  <br />

</div>

<!-- if pictures..display the gallery -->

<% if@photos.length>0 %>

<script src=" <%= javascript_path('galleria-1.2.8.min.js')  %>" type="text/javascript"></script>
<script src=" <%= javascript_path('galleria.classic.min.js')  %>" type="text/javascript"></script>
<script src=" <%= javascript_path('fancybox.js')  %>" type="text/javascript"></script>

<script>

//http://support.galleria.io/discussions/questions/771-share-a-photo-in-the-gallery-with-facebook
//have to add link to actual picture
var fb_like = function(){
    $('#fbiframe').remove();
    $('<iframe id= "fblike" scrolling="no" frameborder="0" style="width: 300px; height: 80px;'+
    '" src="http://www.facebook.com/widgets/like.php?href='+
    encodeURIComponent(location.href)+
    '&amp;send=false&amp;layout=button_count&amp;'+
    'show_faces=false&amp;action=like'+
    '"></iframe>').appendTo('#fb-like');
}

function get_photo_id(img_source){
  //get photo id
  //http://localhost:3109/files/1/photos/2/large/hd.png?1352559525
  //http:\/\/[A-Za-z]*:[0-9]{0,4}\/files/[0-9]+\/photos\/([0-9]+)\/
  var expression = /http:\/\/[A-Za-z]*:[0-9]{0,4}\/files\/[0-9]+\/photos\/([0-9]+)./i;
  var regex = new RegExp(expression);
  var match=regex.exec(img_source);
  return match[1];
}

function display_like_button(cur_photo_id){
  
  $.ajax({
  url: '/display_like_button',
  data: {
    "cur_photo_id" : cur_photo_id
    },
    success: function(data) {
      $("#photouploadix_like").html(data);
      
    }
  });

  

}
function update_likes(cur_photo_id){
 $.ajax({
  url: '/update_likes',
  data: {
    "cur_photo_id" : cur_photo_id
    },
    success: function(data) {
      display_like_button(cur_photo_id);
    }
  });

  
}



	Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
        $('#user_gallery').galleria({
            extend: function() {
                this.bind(Galleria.LOADFINISH, function(e) {
                        $(e.imageTarget).click(this.proxy(function(e) {
                                e.preventDefault(); // removes the garbage
                                var obj = this.getData();
                                  $.fancybox({
                                        'href': obj.big,
                                        'title': obj.title,
                                        'titlePosition' : "inside"


                                });

                        }));
                        var cur_photo_id = get_photo_id(e.imageTarget.src);
                        //$("#photouploadix_like").attr("photo_id",cur_photo_id);
                        display_like_button(cur_photo_id);
                        $("#photouploadix_like").live ("click", function(){
                          update_likes(cur_photo_id);
                        });
                });
                 fb_like()  ;
        }
    });
	Galleria.run('#user_gallery');

</script>

  <% end %>

