<div class ="hero-unit">
  <h1>Listing users</h1>
  <br /><br />

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
      <th></th>

    </tr>

  <% @users.each do |user| %>
    <tr id="user_<%= user.id %>">
      <td><%= user.first_name + " " + user.last_name  %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
      <% if current_user %>
      <td><a class="btn btn-small send_request" href="#"  user_id="<%= user.id %> " >Send a friend request</a></td>
      <% end %>
    </tr>
  <% end %>

  </table>

  <br />
</div>

<script>
  $('.send_request').click(function(){
    console.log($(this).attr('user_id'));
    var friend_id =$(this).attr('user_id');
      $.ajax({
      url: '/users/'+<%=current_user.id%>+'/friends/'+ $(this).attr('user_id')   ,
    type:'POST',
      success: function(data,event,request) {
        var msg = request.getResponseHeader('X-Message');
        var type = request.getResponseHeader('X-Message-Type');
        show_ajax_message(msg, type); //use whatever popup, notification or whatever plugin you want
        $('body').find('#user_'+friend_id).remove();
      }
    });
  });
</script>