<div class="hero-unit">
  <!-- user s public informations-->
  <h2> <%= @user.first_name %> <%= @user.last_name %> 's photos </h2>
  <br /><br />
  <div id="user_infos">
    <div id="user_labels">
      <span class="label">Login</span> <br />
      <span class="label">Email</span> <br />
      <span class="label">First Name</span> <br />
      <span class="label">Last Name</span> <br />
    </div>
    <div id ="user_data">
      <span class="data"><%= @user.login %> </span> <br />
      <span class="data"><%= @user.email %></span> <br />
      <span class="data"><%= @user.first_name %></span> <br />
      <span class="data"><%= @user.last_name %></span> <br />
    </div>

  </div>

  <div class="clear"></div>
  <br /><br />
  <!-- user s public gallery-->
    <% if@photos.length>0 %>
      <div id ="user_gallery">
      <% @photos.each do |photo| %>
         <%= link_to image_tag( photo.photo.url(:thumb),"data-description"=>photo.description,"data-title"=>photo.photo_file_name,"data-big"=>photo.photo.url ),photo.photo.url(:large) %>

      <%  end %>
      </div>

    <% else %>
        <%= "No pictures are available for this user." %>
    <% end %>


  <br />
  <br />

  <%= link_to "Users",users_path()  %>
</div>

<!-- if pictures..display the gallery -->

<% if@photos.length>0 %>

<script src=" <%= javascript_path('galleria-1.2.8.min.js')  %>" type="text/javascript"></script>
<script src=" <%= javascript_path('galleria.classic.min.js')  %>" type="text/javascript"></script>
<script src=" <%= javascript_path('fancybox.js')  %>" type="text/javascript"></script>

<script>


	Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
        $('#user_gallery').galleria({
            extend: function() {
                this.bind(Galleria.LOADFINISH, function(e) {
                        $(e.imageTarget).click(this.proxy(function(e) {
                                e.preventDefault(); // removes the garbage
                                var obj = this.getData();
                                  $.fancybox({
                                        'href': obj.big,
                                        'title': obj.title,
                                        'titlePosition' : "inside"


                                });

                        }))
                });
        }
    });
	Galleria.run('#user_gallery');

</script>

  <% end %>

