<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  "application", :media =>"all"  %> 

    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

     <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Error handling -->
    <div id="flash-messages">
    <% if not @messages_rendered -%>
      <% if flash[:error] -%>

        <p class='alert alert-error'><%=h flash[:error] %></p>
      <% end -%>
      <% if flash[:notice] -%>
        <p class='alert alert-success'><%=h flash[:notice] %></p>
      <% end -%>
   

    <% end -%>
    <% @messages_rendered = true -%>
    </div>
    <!-- view content -->
    <div class="container">
      <%= yield %>

      <!-- Footer -->
      <%= render 'layouts/footer' %>

    </div>

  </body>
</html>

